{% extends "base.html" %}

{% block navitems %}
<a class="nav-link" href="admin/">Admin</a>
<a class="nav-link" href="about/">Features</a>
<a class="nav-link active" aria-current="page" href="/">Home</a>
  
{% endblock navitems %}

{% block content %}
<div class="card m-3" style="width: 18rem;">
  <img src="" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">MS Office</p>
  </div>
</div>
<div class="card m-3" style="width: 18rem;">
  <img src="" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">Exel</p>
  </div>
</div>

  
{% endblock content %}

